[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Vendor/SDL_ttf"]
	path = Vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "Vendor/SDL_image"]
	path = Vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendor/SDL_FontCache"]
	path = Vendor/SDL_FontCache
	url = https://github.com/Lord-Turmoil/SDL_FontCache.git
